<div class="form-group">
  <%= form_with model: @image, url: {action: "create" }, builder: CustomFormBuilder do |form|%>
    <%= form.label :description %>
    <%= form.text_field :description, class: 'form-control' %>
    <%= form.field_error(:description) %>
    <%= form.submit class: 'btn btn-primary' %>
  <% end %>
</div>
