<div class="d-flex gap-2 p-2">
  <div class="form-control"><%= image.id %></div>
  <div class="form-control"><%= image.description %></div>
  <div class="form-control"><%= image.likes_counter %></div>
  <%= link_to  "Edit Image", edit_image_path(image), class: "btn btn-primary form-control" %><br>
  <%= button_to  "Destroy", image, method: :delete, class: "btn btn-danger form-control" %><br>
</div>
